/* This is a CSS comment */
#canvas{
    border: 1px solid 
}
.container{
    margin: 0 auto;
    width: 2000px;
    height: 1000px;
}
.blueblock {
    background-color: #0000FF;
    position: absolute;
    float: left;
    top: 0;
    left: 0;
    width: 700px;
    height: calc((500px / 13)* 7);
    background-color: rgb(4, 42, 158);
    
}
.redstripe {
    float: none;
    height: 50px;
    width: 2000px;
    background-color: #f30c46
}
.whitestripe {
    float: none;
    height: 50px;
    width: 2000px;
    background-color: #FFFFFF
}